# Lecture 04

### Olver and Shakiban 1.3 continued

## Code from Poll Everywhere

In [2]:
x = randn(1,10)
x[1]

Error: Invalid expression. When calling a function or indexing a variable, use parentheses. Otherwise, check for mismatched delimiters.

In [3]:
x = randn(1,10)
SUM = 0;
for i = 1:length(x)
    if x[i] > 1.
        SUM = SUM + 1;
    end
end

x =

  Columns 1 through 7

    0.5377    1.8339   -2.2588    0.8622    0.3188   -1.3077   -0.4336

  Columns 8 through 10

    0.3426    3.5784    2.7694


ans =

  logical

   0


ans =

  logical

   1


ans =

  logical

   1


ans =

  logical

   1


ans =

  logical

   1


ans =

  logical

   1


ans =

  logical

   1


ans =

  logical

   1


ans =

  logical

   1


ans =

  logical

   1

In [5]:
x = randn(1,10)
SUM = 0;
for i = 1:length(x)
    if x(i) > 1.
        SUM = SUM + 1;
    end
end
SUM

x =

  Columns 1 through 7

    0.6715   -1.2075    0.7172    1.6302    0.4889    1.0347    0.7269

  Columns 8 through 10

   -0.3034    0.2939   -0.7873


SUM =

     2

In [6]:
x = randn(1,10)
p = 0;
for i = 1:length(x)
    if abs(x(i)) > p
        p = abs(x(i));
    end
end
p

x =

  Columns 1 through 7

    0.8884   -1.1471   -1.0689   -0.8095   -2.9443    1.4384    0.3252

  Columns 8 through 10

   -0.7549    1.3703   -1.7115


p =

    2.9443

In [7]:
x = randn(1,10)
j = 1;
for i = 2:length(x)
    if abs(x(i)) > abs(x(j))
        j = i;
    end
end
j
x(j)

x =

  Columns 1 through 7

   -0.1022   -0.2414    0.3192    0.3129   -0.8649   -0.0301   -0.1649

  Columns 8 through 10

    0.6277    1.0933    1.1093


j =

    10


ans =

    1.1093